// List of colors in project
$basic1: #F0F1F1;
$basic2: #5E5322;
$basic3: #FAD648;
$basic4: #737373;
$basic5: #3C3C3C;
//Nav Header colors:
$navLinkAccountTextColor: #737373;
$navLinkRegistrationBorderColor: #FAD648;
$navLinkPageTextColor: #3C3C3C;
$navLinkPageBorderColor: #3C3C3C;
$headerSloganTextColor: #3C3C3C;
$headerButtonTextColor: #3C3C3C;
$headerBorderLineColor: #3C3C3C;
//Three Columns
$threeColsNumberTextColor: #5E5322;
$threeColsSpanTextColor: #3C3C3C;
$threeColsParaTextColor: #3C3C3C;
//Four Steps
$fourStepsTextColor: #3C3C3C;
$fourStepsContainerBgColor: #F0F1F1;
$fourStepsBoxTextColor: #3C3C3C;
//About us
$aboutUsContainerBgColor: #F0F1F1;
$aboutUsShortTextColor: #3C3C3C;
$aboutUsLongTextColor: #3C3C3C;